[queue_country]
P=PI

[affiliation_code]
ca=Canada (listed institution)
xc=Canada (national)
cn=China
ea=EAO Staff
zz=Other
jp=Japan
kr=Korea
th=Thailand
tw=Taiwan
uk=United Kingdom (listed institution)
vn=Vietnam
